{{ partial "header.html" . }}

    <div class="container">
        {{ partial "topinfo.html" . }}

        <article class="post-content">
            {{ .Content }}
        </article>

        <footer class="post-footer">
            {{ if isset .Params "tags" }}
            <ul class="post-tags">
                {{ range $tag := .Params.tags }}
                <li>
                    <a href="/tags/{{ $tag | urlize }}"> <span class="tag">{{ $tag | title }}</span> </a>
                </li>
                {{ end }}
            </ul>
            {{ end }}
            <p class="post-copyright">
                {{ if .Site.Copyright }}{{ .Site.Copyright | safeHTML }}{{ end }}
            </p>
        </footer>
    </div>

{{ partial "footer.html" . }}
